.entry {
    display: flex;
    font-family: 'BudBoldCyr';
}
.entry__button {
    background: #002F63;
    color: #FFFFFF;
    //transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 100%;
    border: none;
    height: 50.07px;
    margin-left: 208px;
    margin-right: 255px;
    font-family: 'BudBoldCyr';
    line-height: normal;
    font-size: 25px;
    text-align: center;
}