.footer {
    padding-left: 40px;
}
.footer-block {
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 17px;    
}
.social-networks {
    display: flex;
    align-items: center;
    margin-left: 18px;
    .social-network {
        &_indent {
            margin-left: 20px;
        }
    }
}
.footer-info {
    font-family: 'PFDinTextCompPro-Regular';
    line-height: normal;
    font-size: 16px;
    margin-right: 17px;
}