footer.footer
  .footer-block
    a.footer-info.link © 2019 COMPANY
    .social-networks
      a.link
        img.social-network(src= require('../../images/facebook-logo.svg') alt='facebook')
      a.link
        img.social-network.social-network_indent(src= require('../../images/youtube-logo.svg') alt='youtube')
  .footer-block
    a.footer-info.link © 2019 Second comp.
    a.footer-info.link Политика конфиденциальности
    a.footer-info.link Условия пользования сайтом
