.modal
  h1.title.title_modal #ЗАГОЛОВОК
  .confirm-age.confirm-age_modal
    h3.confirm-age__title подтверди, что тебе уже исполнилось 18 лет
    .box
      ul.select.select_day
        .box.select-box.select-box_day
          li.option-active.option-active_day
          .select__button
        ul.list-option.list-option_days
      ul.select.select_month
        .box.select-box.select-box_month
          li.option-active.option-active_month
          .select__button
        ul.list-option.list-option_months
      ul.select.select_year
        .box.select-box.select-box_year
          li.option-active.option-active_year
          .select__button
        ul.list-option.list-option_years